.navbar-dark .navbar-brand{
    font-weight: 500;
    color: #0078ff;
    font-size: 25px;
}

.navbar {
  background-color: transparent!important;
  padding-left: 16%!important;
  padding-right: 19%!important;
}
.nav-link{
    font-weight: 500;
    color: white!important;
    font-size: 17px;
}

nav .navbar .navbar-expand-lg .navbar-dark{
    padding-bottom: 30px;
}

.caps{
  text-transform: uppercase;
}

.card-header{
    background-color: #cce4f5;
  
  }

  .card{
  
    background-color: #e6f5ff;
  }

  li.list-group-items{
    background-color: #e6f5ff;

  }

  html,body{
    margin: 0;
    min-height: 100%;
}
