<!DOCTYPE html>
<html >
  <head>
    <link rel="icon" href="/img/theblinkicon.ico" type="image/x-icon" />
    <title>The Blink</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="/js/jquery.js" type="text/javascript"></script>    
  </head>
  <body>

    <div><p>The Blink</p></div>
   <div id="hr">
    <hr>
   </div>



  <div class="container">
        <a href="/login" class="btn btn-light"><i class="fas fa-sign-in-alt"></i> Login</i></a>
        <a href="/addcustomer" class="btn btn-light"><i class="fas fa-user-plus"></i> Sign Up</a>
        <!-- <a href="/adduser" class="btn btn-primary"><i class="fas fa-store"></i> Add Your Store</a> -->
    </div>
    <script type="text/javascript" src="/js/landing.js"></script>
</body>
</html>
<% //include ../partials/footer.ejs %>
