<% include ../partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/login.css">
<div class="container">
<form method="post" action="/login">
  <div class="card">
    <div class="card-body">

  <div class="form-group has-feedback">
    <!-- <label for="input1">Username:</label> -->
    <input type="text" name="username" id="input1" value="" class="form-control" placeholder="Username">
  </div>
  <br>
  <div class="form-group">
    <!-- <label for="input2">Password:</label> -->
    <input type="password" name="password" id="input2" value="" class="form-control" placeholder="Password">
  </div>
  <button class="btn btn-light"><i class="fas fa-sign-in-alt"></i> Login</button>
</form>
</div>
</div>
</div>

<% include ../partials/footer.ejs %>
